.DS_Store
sauron-server/linux/server
sauron-server/xcode/sauron-server.xcodeproj/project.xcworkspace/
sauron-server/xcode/sauron-server.xcodeproj/xcuserdata/
skeletal-viewer/Debug/
skeletal-viewer/Release/
skeletal-viewer/ipch/
skeletal-viewer/SkeletalViewer.aps
skeletal-viewer/SkeletalViewer.opensdf
skeletal-viewer/SkeletalViewer.sdf
skeletal-viewer/SkeletalViewer.vcxproj.filters
skeletal-viewer/SkeletalViewer.vcxproj.user
*.suo
